.idea/*

# Dependencies
/vendor
/node_modules
/storage/*.key

# Public
/public/hot
/public/storage
/public/img/*
public/mix-manifest.json
public/js/*
public/css/*

# Cache
.php_cs.cache
.phpunit.result.cache

# Env
.env
.env.backup

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
